name: Trigger Repository Workflows

on:
  issues:
    types:
      - opened
      - edited

# expected issue body input should be structured as follows:
  #     {
  #         "rep01": {
  #             "repository": "rep01",
  #             "organisation": "org01"
  #         },
  #         "rep02": {
  #             "repository": "rep02",
  #             "organisation": "org02"
  #         } 
  #     }

jobs:
  trigger-repo-workflows:
    if: contains(github.event.issue.labels.*.name, 'post-mg-steps')
    runs-on: ubuntu-latest
    permissions:
      issues: write
    strategy:  
      matrix:
        repository: ${{ fromJson(github.event.issue.body).*.repository }}  # rep01, repo02
      max-parallel: 1
    steps:
      - name: Acknowledgment
        uses: actions/github-script@v6
        with:
          script: |
            const response = github.request(
            'POST /repos/{owner}/{repo}/issues/{issue_number}/comments',
            {
              owner: '${{ fromJSON(github.event.issue.body)[matrix.repository].organisation }}',
              repo: '${{ matrix.repository }}',
              issue_number: '${{ github.event.issue.number }}',
              body: 'Starting Runner Change for `${{ matrix.repository}}`.....',
              headers: {
                'X-GitHub-Api-Version': '2022-11-28'
              }
            }
            )

      - name: Checkout Central Repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GK_PAT }}

      - name: Trigger Workflows in Other Repositories
        run: |
            echo "Triggering workflow in $repo"
            curl -X POST \
              -H "Authorization: token ${{ secrets.GK_PAT }}" \
              -H "Accept: application/vnd.github+json" \
              "https://api.github.com/repos/'${{ fromJSON(github.event.issue.body)[matrix.repository].organisation }}'/'${{ matrix.repository }}'/actions/workflows/'repalce-runner.yml'/dispatches" \
              -d '{
                "ref": "github-migration"
              }'
        env:
          GITHUB_TOKEN: ${{ secrets.GK_PAT }}
